<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @piece.price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @piece.sold %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @piece.artist %>
</p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
